<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Info & News</h3>
  <li><%= link_to 'Tender Notice - October 2017 (13 - 26 Oct 2017)', 'http://www.nea.gov.sg/docs/default-source/services-and-forms/tender-notice/tender-notice---october-2017-(13---26-oct-2017).pdf' %></li>
  <li><%= link_to 'Tender Notice - September 2017 (13 - 26 Sep 2017)', 'http://www.nea.gov.sg/docs/default-source/services-and-forms/tender-notice/sep-2017-tender-notice-(130917).pdf' %></li>
  <li><%= link_to 'Tender Notice - August 2017 (14 - 28 Aug 2017)', 'http://www.nea.gov.sg/docs/default-source/services-and-forms/tender-notice/tender-notice---august-2017-(14---28-aug-2017).pdf' %></li>
  <li><%= link_to 'Hawkers Productivity Grant 2017', 'http://www.nea.gov.sg/public-health/hawker-management/hpg' %></li>
  <li><%= link_to 'Tender Notice - July 2017 (13 - 26 July 2017)', 'http://www.nea.gov.sg/docs/default-source/services-and-forms/tender-notice/tender-notice---july-2017-(13---26-july-2017).pdf' %></li>
</div>