<div class="container-fluid container-space bg-1 text-center">
  <div class="row">
    <section>
      <h1 class="margin">
        <%= @user.username %>
      </h1>
      <%= image_tag @user.image %>
    </section>
    <% if @user.microposts.any? %>
      <h3>Posts (<%= @user.microposts.count %>)</h3>
      <ol>
        <%= render @microposts %>
      </ol>
    <% end %>
    <%= link_to 'Go back', '/users' %> 
  </div>
</div>