<div id="micropost-<%= micropost.id %>" class="micropost-card">
  <h3><%= micropost.title %>
    <small>
      by <%= link_to micropost.user.username, micropost.user %>
    </small>
  </h3>
  <%= micropost.content %>
  </br>
  <small>
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </small>
</div>