<div class="container-fluid container-space bg-1 text-center">
  <h2>Create new post</h2>
  <%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class='field'>
      <%= f.text_field :title, placeholder: 'Title', class: 'form-control', size: 60 %>
    </div>
    <div class='field'>
      <%= f.text_area :content, placeholder: 'Your post...', class: 'form-control', cols: 60, rows: 8 %>
    </div>
    <%= f.submit 'Post', class: 'btn btn-default btn-lg btn-block' %>
  <% end %>
  <br/>
  <%= link_to 'Go back', 'posts' %>
</div>