<div class="container-fluid container-space bg-1 text-center">
  <h1 class="margin">Community Posts</h1>
  <h2>Create new post</h2>
  <%= form_for Micropost.new do |f| %>
    <div class='field'>
    <%= f.text_field :title, placeholder: 'Title', class: 'form-control', size: 60 %>
    </div>
    <div class='field'>
      <%= f.text_area :content, placeholder: 'Your post...', class: 'form-control', cols: 60, rows: 8 %>
    </div>
    <%= f.submit 'Post', class: 'btn btn-default btn-lg btn-block' %>
  <% end %>
  </br>
  </br>
  <h2>Latest Posts</h2>
  <%= render @microposts %>
</div>