<div class='container-space text-center micropost-card'>
  <h3><%= @microposts.title %>
  <small>
    by <%= link_to @microposts.user.username, @microposts.user %>
  </small>
  </h3>

  <% if @microposts.picture %>
  <%= image_tag(@microposts.picture, class: 'text-enter') %>
  <% end %>
  </br>

  <%= @microposts.content %>
  </br>
  <small>
  <%=raw tag_links(@microposts.all_tags)%>
  </br>
  Posted <%= time_ago_in_words(@microposts.created_at) %> ago.
  </small>
  </div>
</div>