<!DOCTYPE html>
<html>
  <head>
    <title>Hawkerpreneur</title>
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <!-- Flash notices -->
    <% flash.each do |message_type, message| %>
      <div class="alert alert-grey">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
